<a href="https://colab.research.google.com/github/nurahsanadzim/thesis_matching_dataset_result_with_label/blob/main/matching_time_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAIVE method

In [1]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [19]:
!ls '/content/gdrive/MyDrive/thesis_result/dataset_result/'

eight_240.csv  four_240.csv  six_240.csv  two_240.csv
eight_360.csv  four_360.csv  six_360.csv  two_360.csv
eight_480.csv  four_480.csv  six_480.csv  two_480.csv
eight_720.csv  four_720.csv  six_720.csv  two_720.csv

In [3]:
import pandas as pd
data = pd.read_csv('/content/gdrive/MyDrive/thesis_result/dataset_result/eight_720.csv')

In [4]:
label = pd.read_csv('/content/gdrive/MyDrive/thesis_result/label_dataset.csv')

In [17]:
# six object
# participant = [1, 26, 31, 33, 34, 41]
# four object
# participant = [1, 26, 31, 33]
# two object
# participant = [1, 26]

In [18]:
label.loc[label.participant_number.isin(participant)]

    timestamp detector  participant_number  id_result detected  exec_time
0        0:17      ear                   1          2       no        NaN
1        0:21      ear                   1          2       no        NaN
2        0:36      ear                   1          2       no        NaN
3        9:15      ear                   1          2       no        NaN
4        1:57      mar                   1          2       no        NaN
..        ...      ...                 ...        ...      ...        ...
123      8:47      ear                  53          0       no        NaN
124      9:12      ear                  53          0       no        NaN
125      9:22      ear                  53          0       no        NaN
126      9:36      ear                  53          0       no        NaN
127      9:51      ear                  53          0       no        NaN

[128 rows x 6 columns]

In [5]:
# add column for detected and exec time ,also id_result for match with id from result
label['id_result'] = np.nan
label['id_result'] = label['id_result'].astype('Int64')
label['detected'] = 'no'
label['exec_time'] = np.nan

In [6]:
# match participant number from label with id participant from result

# # eight object 720
# label.loc[label.participant_number==1, 'id_result'] = 2
# label.loc[label.participant_number==26, 'id_result'] = 5
# label.loc[label.participant_number==31, 'id_result'] = 6
# label.loc[label.participant_number==33, 'id_result'] = 7
# label.loc[label.participant_number==34, 'id_result'] = 3
# label.loc[label.participant_number==41, 'id_result'] = 1
# label.loc[label.participant_number==53, 'id_result'] = 0
# label.loc[label.participant_number==55, 'id_result'] = 4

# # eight object 480
# label.loc[label.participant_number==1, 'id_result'] = 1
# label.loc[label.participant_number==26, 'id_result'] = 5
# label.loc[label.participant_number==31, 'id_result'] = 6
# label.loc[label.participant_number==33, 'id_result'] = 7
# label.loc[label.participant_number==34, 'id_result'] = 2
# label.loc[label.participant_number==41, 'id_result'] = 0
# label.loc[label.participant_number==53, 'id_result'] = 3
# label.loc[label.participant_number==55, 'id_result'] = 4

# # eight object 360
# label.loc[label.participant_number==1, 'id_result'] = 1
# label.loc[label.participant_number==26, 'id_result'] = 5
# label.loc[label.participant_number==31, 'id_result'] = np.nan
# label.loc[label.participant_number==33, 'id_result'] = 6
# label.loc[label.participant_number==34, 'id_result'] = 3
# label.loc[label.participant_number==41, 'id_result'] = 2
# label.loc[label.participant_number==53, 'id_result'] = 0
# label.loc[label.participant_number==55, 'id_result'] = 4

# # eight object 240 (must be manual, there's switched id)

# # six object 720
# label.loc[label.participant_number==1, 'id_result'] = 1
# label.loc[label.participant_number==26, 'id_result'] = 4
# label.loc[label.participant_number==31, 'id_result'] = 3
# label.loc[label.participant_number==33, 'id_result'] = 5
# label.loc[label.participant_number==34, 'id_result'] = 2
# label.loc[label.participant_number==41, 'id_result'] = 0

# # six object 480
# label.loc[label.participant_number==1, 'id_result'] = 1
# label.loc[label.participant_number==26, 'id_result'] = 3
# label.loc[label.participant_number==31, 'id_result'] = 4
# label.loc[label.participant_number==33, 'id_result'] = 5
# label.loc[label.participant_number==34, 'id_result'] = 2
# label.loc[label.participant_number==41, 'id_result'] = 0

# # six object 360
# label.loc[label.participant_number==1, 'id_result'] = 1
# label.loc[label.participant_number==26, 'id_result'] = 3
# label.loc[label.participant_number==31, 'id_result'] = np.nan
# label.loc[label.participant_number==33, 'id_result'] = 4
# label.loc[label.participant_number==34, 'id_result'] = 2
# label.loc[label.participant_number==41, 'id_result'] = 0

# # six object 240
# label.loc[label.participant_number==1, 'id_result'] = 2
# label.loc[label.participant_number==26, 'id_result'] = np.nan
# label.loc[label.participant_number==31, 'id_result'] = np.nan
# label.loc[label.participant_number==33, 'id_result'] = 1
# label.loc[label.participant_number==34, 'id_result'] = np.nan
# label.loc[label.participant_number==41, 'id_result'] = 0

# # four object 720
# label.loc[label.participant_number==1, 'id_result'] = 0
# label.loc[label.participant_number==26, 'id_result'] = 1
# label.loc[label.participant_number==31, 'id_result'] = 2
# label.loc[label.participant_number==33, 'id_result'] = 3

# # four object 480
# label.loc[label.participant_number==1, 'id_result'] = 0
# label.loc[label.participant_number==26, 'id_result'] = 1
# label.loc[label.participant_number==31, 'id_result'] = 2
# label.loc[label.participant_number==33, 'id_result'] = 3

# # four object 360
# label.loc[label.participant_number==1, 'id_result'] = 0
# label.loc[label.participant_number==26, 'id_result'] = 1
# label.loc[label.participant_number==31, 'id_result'] = np.nan
# label.loc[label.participant_number==33, 'id_result'] = 2

# # four object 240
# label.loc[label.participant_number==1, 'id_result'] = 1
# label.loc[label.participant_number==26, 'id_result'] = np.nan
# label.loc[label.participant_number==31, 'id_result'] = np.nan
# label.loc[label.participant_number==33, 'id_result'] = 0

# # two object 720
# label.loc[label.participant_number==1, 'id_result'] = 0
# label.loc[label.participant_number==26, 'id_result'] = 1

# # two object 480
# label.loc[label.participant_number==1, 'id_result'] = 0
# label.loc[label.participant_number==26, 'id_result'] = 1

# # two object 360
# label.loc[label.participant_number==1, 'id_result'] = 0
# label.loc[label.participant_number==26, 'id_result'] = 1

# # two object 240
# label.loc[label.participant_number==1, 'id_result'] = 0
# label.loc[label.participant_number==26, 'id_result'] = 1

In [7]:
data.head()

   Unnamed: 0  ...                                               time
0           0  ...  [0.1239118, 0.1201774, 0.1416577, 0.121634, 0....
1           1  ...  [0.1154941, 0.1160714, 0.115346, 0.1164171, 0....
2           2  ...  [0.115346, 0.1164171, 0.1189089, 0.1240119, 0....
3           3  ...  [0.1189089, 0.1240119, 0.1274226, 0.1176443, 0...
4           4  ...  [0.1274226, 0.1176443, 0.1173387, 0.11833, 0.1...

[5 rows x 5 columns]

In [8]:
label.head()

  timestamp detector  participant_number  id_result detected  exec_time
0      0:17      ear                   1          2       no        NaN
1      0:21      ear                   1          2       no        NaN
2      0:36      ear                   1          2       no        NaN
3      9:15      ear                   1          2       no        NaN
4      1:57      mar                   1          2       no        NaN

In [9]:
# # right at the label time
# for data_row in data.itertuples():
#   for label_row in label.itertuples():
#     if label_row.timestamp == data_row.timestamp:
#       if label_row.id_result == data_row.id:
#         if label_row.detector == data_row.detector:
#           label.loc[label.index == label_row.Index, 'detected'] = 'yes'
#           label.loc[label.index == label_row.Index, 'exec_time'] = data.loc[data.index == data_row.Index, 'time' ].item()

# # right at the label time and label time + 1 sec
# for data_row in data.itertuples():
#   for label_row in label.itertuples():
#     if (label_row.timestamp == data_row.timestamp and 
#     label_row.id_result == data_row.id and
#     label_row.detector == data_row.detector):
#       if label.loc[label.index==label_row.Index, 'detected'].item() == 'yes':
#         continue
#       else:
#         label.loc[label.index == label_row.Index, 'detected'] = 'yes'
#         label.loc[label.index == label_row.Index, 'exec_time'] = data.loc[data.index == data_row.Index, 'time' ].item()
#     else:
#       ts = data.loc[data.index == data_row.Index, 'timestamp'].item()
#       ts = ts.split(':')
#       ts = list(map(int, ts))
#       if ts[1] == 59:
#         # menit
#         ts[0] += 1
#         # detik
#         ts[1] = 0
#       else:
#         # detik
#         ts[1] += 1
#       ts = str(ts[0]) + ':' + str(ts[1])

#       if (label_row.timestamp == ts and 
#       label_row.id_result == data_row.id and
#       label_row.detector == data_row.detector):
#         if label.loc[label.index==label_row.Index, 'detected'].item() == 'yes':
#           continue
#         else:
#           label.loc[label.index == label_row.Index, 'detected'] = 'yes'
#           label.loc[label.index == label_row.Index, 'exec_time'] = data.loc[data.index == data_row.Index, 'time' ].item()

In [10]:
label['detected'].value_counts()

no    163
Name: detected, dtype: int64

In [11]:
label.head(100)

   timestamp detector  participant_number  id_result detected  exec_time
0       0:17      ear                   1          2       no        NaN
1       0:21      ear                   1          2       no        NaN
2       0:36      ear                   1          2       no        NaN
3       9:15      ear                   1          2       no        NaN
4       1:57      mar                   1          2       no        NaN
..       ...      ...                 ...        ...      ...        ...
95      9:54      ear                  33          7       no        NaN
96      3:41      mar                  33          7       no        NaN
97      3:58      mar                  33          7       no        NaN
98      1:27      ear                  34          3       no        NaN
99      1:34      ear                  34          3       no        NaN

[100 rows x 6 columns]

In [12]:
label.to_csv('eight_720.csv')

In [13]:
# label.loc[label.index==0, 'exec_time'] = data.loc[data.index==0, 'time'].values

# for row in ear_id2.itertuples():
#   print(row.time)

# label.loc[label.index==3, 'detector']